@font-face {
  font-family: "GE Inspira Sans";
  src: url("fonts/GEInspiraSans-Regular-v01.woff") format('woff');
}

@font-face {
  font-family: "GE Inspira";
  src: url("fonts/GEInspira-Regular.woff") format('woff');
}

@font-face {
  font-family: "GE Inspira Sans";
  src: url("fonts/GEInspiraSans-Bold-v01.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "GE Inspira";
  src: url("fonts/GEInspira-Bold.woff") format('woff');
  font-weight: bold;
}

body {
  background: #fafafa;
  font-family: 'GE Inspira', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
